body {
  background-color: rgb(60, 172, 247);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 1.5rem;
}

section {
  font-size: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  width: 35rem;
  margin: auto;
  padding: 4rem;
  box-shadow: 11px 1px 15px -7px rgba(0, 0, 0, 0.71);
}

footer {
  font-size: 1.5rem;
}

.res {
  background-color: rgb(148, 196, 238);
  border-radius: 1rem;
}

img {
  width: 24rem;
  border-radius: 14%;
}

.hiddenImage {
  visibility: hidden;
}

.birthdate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
